@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer: #fcfeff;
  --off-white: #f2f2f2;
  --overlay: #00000066;
  --blue: #0077b5;
  --hover-blue: #2d9cdb;
  --light-blue: #f2f8fb;
  --consistency-red: #eb5757;
  --network-purple: #bb6bd9;
  --it-orange: #f2994a;
  --green: #65e4a3;
  --lighter-text: #5e6282;
  --primary-text-color: #4f4f4f;
  --grid-container: #fff7ef4d;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

#soft__dev-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  position: relative;
}

#soft__dev-hero .inshallah {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#soft__dev-hero .inshallah .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.374);
  top: 0;
  border-radius: 5px;
}

#soft__dev-hero img {
  width: 100%;
}

#soft__dev-hero .inshallah .text-div {
  position: absolute;
  color: white;
  font-size: 15px;
}

@media (max-width: 300px) {
  #soft__dev-hero {
    padding: 20px 10px;
  }
}

@media (max-width: 350px) {
  #soft__dev-hero .inshallah .text-div {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 550px) {
  #soft__dev-hero .inshallah .text-div {
    font-size: 25px;
  }
}

@media (min-width: 700px) {
  #soft__dev-hero .inshallah .text-div {
    font-size: 30px;
  }
}

@media (min-width: 770px) {
  #soft__dev-hero {
    padding: 30px;
  }
}

@media (min-width: 850px) {
  #soft__dev-hero {
    padding: 30px 50px;
  }

  #soft__dev-hero .inshallah .text-div {
    font-size: 37px;
  }

  #soft__dev-hero .inshallah .overlay {
    border-radius: 12px;
}
}

@media (min-width: 1100px) {
  #soft__dev-hero {
    padding: 50px 100px;
  }

  #soft__dev-hero .inshallah .overlay {
    border-radius: 17px;
}
}
