@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer: #fcfeff;
  --off-white: #f2f2f2;
  --overlay: #f2f2f2f0;
  --blue: #0077b5;
  --hover-blue: #2d9cdb;
  --light-blue: #f2f8fb;
  --consistency-red: #eb5757;
  --network-purple: #bb6bd9;
  --it-orange: #f2994a;
  --green: #65e4a3;
  --lighter-text: #5e6282;
  --primary-text-color: #4f4f4f;
  --grid-container: #FFF7EF4D;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

/* NAVBAR CODE */
header {
  height: 80px;
  width: 100%;  
  background-color: white;
  z-index: 50;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

nav {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  overflow-x: hidden;
}

nav img {
  cursor: pointer;
  height: 50px;
  fill: none;
}

nav .burger-container {
  height: 40px;
  width: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 6;
}

nav .burger-container .burger {
  height: 2px;
  width: 35px;
  background-color: black;
  transition: all 0.5s ease;
  border-radius: 17px;
}

nav .burger-container .burger::before,
nav .burger-container .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  background-color: black;
  transition: all 0.5s ease;
  border-radius: 17px;
}

nav .burger-container .burger::before {
  transform: translateY(-10px);
}

nav .burger-container .burger::after {
  transform: translateY(10px);
}

nav .burger-container.open .burger {
  background: transparent;
}

nav .burger-container.open .burger::before {
  transform: rotate(45deg);
}

nav .burger-container.open .burger::after {
  transform: rotate(-45deg);
}

.links-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0vw;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 2;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.nav-links {
  height: 100%;
  width: 0vw;
  background-color: white;
  align-self: flex-end;
  display: none;
}

.nav-links ul {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
  background-color: var(--primary-color);
  width: 100%;
  display: grid;
  height: 60px;
  text-transform: capitalize;
  font-weight: 700;
}

.nav-links ul li:hover {
  color: var(--blue);
}

.nav-links ul li a:is(:link, :active, :visited).active {
  color: var(--blue);
  display: flex;
  flex-direction: column;
}

.nav-links ul li a:is(:link, :active, :visited).active::after {
   display: block;
   align-self: center;
  content: "";
  margin-top: 5px;
  margin-bottom: -10px;
  width: 17px;
  height: 5px;
  border-radius: 30%;
  background: var(--blue);
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
}

.quote__div{
  display: none;
  width: 100vw;
  height: 0vh;
  background-color: white;
  z-index: 70;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.quote__div.appear {
  display: block;
  min-height: 100vh;
  position: fixed;
  overflow-x: scroll;
}

.quote__div nav {
  border: none;
  height: 70px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
}

.quote__div nav h2 {
  color: white;
}

.quote__div nav img {
  height: 30px;
  justify-self: flex-end;
}

.quote__div .main__quote-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 70px);
  padding: 20px;
  width: 100vw;
}

.quote__div .main__quote-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 620px;
}

.quote__div .main__quote-form form input, .quote__div .main__quote-form form select {
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  background-color: var(--off-white);
  border: none;
  border-radius: 5px;
  outline: none;
}

.quote__div .main__quote-form form select option {
  background-color: var(--off-white);
  zoom: 1.2;
  width: 100%;
}

.number-main {
  width: 100%;
}

.quote__div .main__quote-form form textarea {
  background-color: var(--off-white);
  border: none;
  padding: 10px;
  outline: none;
  width: 100%;
  margin: 10px 0 20px;
}

.quote__div .main__quote-form form button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  align-self: flex-start;
  cursor: pointer;
}

.quote__div .main__quote-form form button:hover {
  background-color: var(--hover-blue);
}

#hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 20px;
}

#hero .hero__img {
  max-width: 95%;
}

#hero .hero__img img {
  width: 100%;
}

#hero .hero__text {
  margin-top: 30px;
}

#hero .hero__text h1 {
  color: var(--blue);
  text-align: center;
  margin-bottom: 15px;
}

#hero .hero__text p {
    text-align: center;
  color: var(--primary-text-color);
}

#partners {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 20px;
}

#partners img {
    height: 30px;
    margin: 20px;
}

#about {
    display: flex;
    padding: 50px 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#about .about__left {
    width: 100%;
    margin-top: 30px;
}

#about .about__left h3 {
    color: var(--blue);
    margin-bottom: 10px;
}

#about .about__left h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

#about .about__left p {
    color: var(--primary-text-color);
    max-width: 100%;
    line-height: 25px;
    margin-bottom: 30px;
}

#about .about__left button {
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

#about .about__left button:hover {
    background-color: var(--hover-blue);
}

#about .about__right img {
    width: 100%;
}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 50px 20px;
}

#services .services__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

#services .services__left h3 {
    color: var(--blue);
    font-size: 25px;
    font-weight: 900;
}

#services .services__left h2 {
    color: #b7b4b4;
    font-size: 30px;
    margin: 20px 0 0 0;
    text-align: center;
}

#services .services__left p {
    color: #d1cccc;
    max-width: 411px;
    line-height: 27px;
    margin: 15px 0 20px;
    text-align: center;
}

#services .services__left button {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#services .services__left button:hover {
    background-color: var(--hover-blue);
}

#services .services__right .grid {
    max-width: 350px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: var(--grid-container);
}

#services .services__right .grid h3 {
    color: black;
    margin: 30px 0 20px;
}

#services .services__right .grid p {
    color: black;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
}

#services .services__right .grid .moree {
    display: flex;
    align-items: center;
    font-weight: 900;
    color: var(--consistency-red);
}

#services .services__right .grid .moree img {
    margin-left: 5px;
}

#services .services__right .grid .moree.software {
    color: var(--blue);
}

#services .services__right .grid .moree.software img { 
    filter: invert(40%) sepia(87%) saturate(4935%) hue-rotate(184deg) brightness(93%) contrast(104%);
}

#services .services__right .grid .moree.network {
    color: var(--network-purple);
}

#services .services__right .grid .moree.network img {
    filter: invert(55%) sepia(59%) saturate(6177%) hue-rotate(238deg) brightness(93%) contrast(81%);
}

#services .services__right .grid .moree.support {
    color: var(--it-orange);
}

#services .services__right .grid .moree.support {
    filter: invert(66%) sepia(93%) saturate(725%) hue-rotate(327deg) brightness(101%) contrast(90%);
}

#choice {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choice h3 {
    color: var(--blue);
    font-size: 18px;
    margin-bottom: 20px;
}

#choice h2 {
    max-width: 530px;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 40px;
    text-align: center;
}

#choice .values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#choice .values img {
    max-width: 100%;
}

#collabo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

#collabo h3 {
    color: var(--blue);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}

#collabo h2 {
    font-size: 25px;
}

#collabo .collabo__quote {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px 20px;
    width: 100%;
    border-radius: 10px;
}

#collabo .collabo__quote h3 {
    color: var(--blue);
    font-size: 17px;
    margin-bottom: 20px;
}

#collabo .collabo__quote h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

#collabo .collabo__quote button {
    cursor: pointer;
    color: white;
    background-color: var(--blue);
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 12px 22px;
}

#collabo .collabo__quote button:hover {
    background-color: var(--hover-blue);
}

footer {
  background-color: var(--footer);
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  color: var(--lighter-text);
}

.main-footer {
  width: 100%;
}

.footer__details {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__details p {
  max-width: 330px;
  font-size: 15px;
  margin: 20px 0;
  text-align: center;
}

.footer__details .logo img {
  height: 50px;
}

.copyright {
  text-align: center;
  font-size: 15px;
}

.socials img {
  width: 50px;
}

.footer__rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.footer__rows .list {
  margin-bottom: 30px;
  text-align: center;
}

.footer__rows .list h2 {
  color: black;
  font-size: 22px;
  margin-bottom: 17px;
}

.footer__rows .list ul li {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer__rows .list ul li a {
  text-decoration: none;
  color: var(--lighter-text);
  font-size: 15px;
  text-align: center;
}

.footer__rows .list ul li .hiring {
  background-color: var(--green);
  padding: 2px 7px;
  margin-left: 5px;
  font-size: 12px;
  border-radius: 10px;
}

@media (max-width: 330px) {
  nav {
    padding: 10px;
  }

  #hero {
    padding: 30px 10px;
  }

  #hero .hero__img {
    max-width: 100%;
  }

  #partners {
    padding: 20px 10px;
  }

  #about {
    padding: 30px 10px;
  }

  footer {
    padding: 50px 10px;
  }

  nav img,
  .footer__details .logo img {
    height: 40px;
  }
}

@media (min-width: 500px) {
  #hero .hero__img {
    max-width: 70%;
  }

  #hero .hero__text {
    text-align: center;
  }

    #hero .hero__text h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  #hero .hero__text p {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 770px) {
  .hidden {
    overflow: hidden;
  }

  .links-container.fill {
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }

  .nav-links.active {
    display: flex;
    width: 70%;
  }

  nav button {
    display: none;
  }

  .links-container button {
    display: block;
    height: 40px;
    background-color: var(--blue);
    border: none;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .nav-links ul li a:is(:link, :active, :visited).active::after {
   display: none  ;
 }
}

@media (min-width: 770px) {
  nav {
    padding: 0 30px;
  }

  nav .burger-container {
    display: none;
  }

  nav .links-container {
    position: relative;
    width: 50%;
    height: 100%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .nav-links ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .nav-links ul li {
    place-items: center;
  }

  .nav-links ul li a {
    transition: all 0.5s ease;
  }

  .nav-links ul li a:hover {
    color: var(--primary-color);
  }

  .links-container button {
    display: none;
  }

  nav button {
    font-size: 12px;
    background-color: var(--blue);
    color: white;
    border: none;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
  }

  nav button:hover {
    background-color: #2d9cdb;
  }

  .number-main {
    display: flex;
    gap: 10px;
  }

  #hero {
    padding: 40px 30px;
  }

  #partners {
    padding: 100px 30px;
  }

  #hero .hero__img {
    max-width: 500px;
  }

    #hero .hero__text h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  #hero .hero__text p {
    font-size: 25px;
    text-align: center;
  }

  #about {
    padding: 50px 30px;
  }

  #collabo .collabo__quote {
    width: 60%;
  }

  footer {
    padding: 50px 30px;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
  }

  .footer__details p {
    text-align: left;
  }

  .footer__rows {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .list {
    margin: 0;
  }

  .footer__rows .list ul li {
    justify-content: left;
  }
}

@media (min-width: 850px) {
  nav {
    padding: 0 50px;
  }

  #hero {
    padding: 30px 50px;
  }

  #partners {
    padding: 100px 50px;
  }

  #about {
    padding: 100px 50px;
  }

  footer {
    padding: 50px;
  }
}

@media (min-width: 950px) {
  #hero {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #hero .hero__text {
    margin-top: 0;
    max-width: 45%;
  }

  #hero .hero__text p , #hero .hero__text h1 {
    text-align: left;
  }

  #hero .hero__img {
    width: 40%;
  }
}

@media (orientation: portrait) and (min-width: 820px) {
  #hero {
    flex-direction: column-reverse;
  }

  #hero .hero__img {
    width: 70%;
  }

  #hero .hero__text {
    margin-top: 30px;
    max-width: 80%;
  }

  #services {
    flex-direction: column;
  }
}

@media (orientation: landscape) and (min-width: 900px) {
     #about {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #about .about__left {
    width: 53%;
  }

  #about .about__right img {
    max-width: 500px;
    margin-left: 30px;
  }

  #services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  #services .services__left h3, #services .services__left h2, #services .services__left p {
    text-align :left;
  } 

  #services .services__left {
    align-items: flex-start;
    margin-right: 20px;
  }

  #services .services__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #services .services__right .services__top-grid, #services .services__right .services__bottom-grid {
    display: flex;
    gap: 5px;
  }
}


@media (min-width: 1100px) {
  nav {
    padding: 0 100px;
  }

  #hero {
    padding: 100px 100px;
  }

  #hero .hero__img {
    width: 420px;
  }

  #hero .hero__text h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  #hero .hero__text p {
    font-size: 17px;
    line-height: 30px;
  }

  #about {
    padding: 100px 100px;
  }

  #partners {
    padding: 100px 100px;
  }

  footer {
    padding: 50px 100px;
  }

  .footer__rows {
    gap: 100px;
  }
}

@media (min-width: 1320px) {
  #hero .hero__text h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  #hero .hero__text {
    max-width: 550px;
  }
}