<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/about.css" />
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="about__hero">
        <h2>The heart and soul of INTELLITECH is creativity and innovation.</h2>

        <div class="main__about">
          <div class="hero__image">
            <img
              class="above"
              src="../img/Images/about hero.png"
              alt="can't load image"
            />
            <img
              class="under"
              src="../img/Images/Subtract.png"
              alt="can't load image"
            />
          </div>
          <div class="about__text">
            <h3>About Us</h3>
            <p>
              On January 5th, 2015, Intellitech Technologies Limited was created
              with the slogan '<span class="blue">Configure, Create,</span> and
              <span class="blue">Innovate</span>' and completely incorporated
              the business with the Nigeria Corporate Affairs Commission (CAC)
              with registration number RC -1436484. What began as a voyage to
              make a distinctive difference in the everyday corporate world has
              evolved into a successful firm with the abilities and ambition to
              dream big and achieve it.
              <br />
              <br />
              With a strength of employees, INTELLITECH is not just only a firm,
              but a family of happy content experts that offer their best every
              day without losing their spark.
              <br />
              <br />
              INTELLITECH believes that every firm need excellent partners, thus
              we carefully choose ours. We share the same sentiments regarding
              the value of our clients, as well as our carefully selected
              partners and third-party suppliers.
            </p>
          </div>
        </div>
      </section>

      <section id="choice">
        <h3>Why Choose Us?</h3>
        <h2>
          We assist you in obtaining the best IT solutions for your
          organization.
        </h2>
        <div class="values">
          <img src="../img/Images/passion.svg" alt="can't load image" />
          <img src="../img/Images/innovation.svg" alt="can't load image" />
          <img src="../img/Images/integrity.svg" alt="can't load image" />
          <img src="../img/Images/quality.svg" alt="can't load image" />
        </div>
      </section>

      <section id="horizontal__grid">
        <div class="squares">
            <img src="../img/Images/Goal.svg" alt="">
            Our Goal
        </div>
        <div class="squares lighter swapped">
            <img src="../img/Images/vision.svg" alt="">
            Our Vision
        </div>
        <div class="squares swapped">
            <img src="../img/Images/mission.svg" alt="">
            Our Mission
        </div>
        <div class="squares lighter">
            <img src="../img/Images/values.svg" alt="">
            Core Values
        </div>
      </section>

      <section class="ab__partners">
        <h3>Our Partners</h3>
        <div id="partners" class="partners">
          <img src="../img/partner/newlogo.svg" alt="can't load image" />
          <img src="../img/partner/RE1Mu3b.png" alt="can't load image" />
          <img
            src="../img/partner/vmware-logo-grey.svg"
            alt="can't load image"
          />
          <img src="../img/partner/new_logo.png" alt="can't load image" />
          <img
            src="../img/partner/Google_2015_logo.svg.png"
            alt="can't load image"
          />
          <img
            src="../img/partner/cropped-cropped-NITDA-Logo-new-03.png"
            alt="can't load image"
          />
        </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
