<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/biro.css" />
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

     <main>
        <section id="sales__hero">
            <img src="../img/Images/biro hero.png" alt="can't load image">
            <div class="sales__hero-text">
                <h3>BiRo</h3>
                <p>BiRo is an ERP school management system specifically to reduce stress and improve the effectiveness of the administrative process in schools. It handles information about both students and teachers, records of student evaluations and exams, and class and lecture schedules. </p>
            </div>
        </section>

        <section id="list__part">
            <div class="list">
                <img src="../img/Images/website features.png" alt="can't load image">
                <h3>WEBSITE FEATURES</h3>
                <ul>
                    <li>School Event Update</li>
                    <li>School Photo Gallery</li>
                    <li>School Noticeboard</li>
                    <li>Teacher Portfolio</li>
                    <li>Mobile Accessibility</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/financial features.png" alt="can't load image">
                <h3>FINANCIAL FEATURES</h3>
                <ul>
                    <li>Student Fee Invoice Creation</li>
                    <li>Bulk Invoice Creation</li>
                    <li>Student Payment Report</li>
                    <li>Invoice Printing Option</li>
                    <li>Offline Cash Fee Payment</li>
                    <li>Offline Payment</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/ITsupport.png" alt="can't load image">
                <h3>IT SUPPORT</h3>
                <ul>
                    <li>IT Support Services</li>
                    <li>SSL Data Encryption</li>
                    <li>Storage Capacity Manager</li>
                    <li>Data Security and Backup</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/admin features.png" alt="can't load image">
                <h3>ADMINISTRATIVE FEATURES</h3>
                <ul>
                    <li>Library Manager</li>
                    <li>Student Dormitory Manager</li>
                    <li>Student Transport Manager</li>
                    <li>Parental User Panel</li>
                    <li>Noticeboard Manager</li>
                    <li>News Info Via SMS</li>
                    <li>Messaging by Users</li>
                    <li>Session Chooser for Analysis</li>
                    <li>Admin User Panel</li>
                    <li>Staff User Panel</li>
                    <li>Student User Panel</li>
                </ul>
            </div>
            <div class="list wider">
                <img src="../img/Images/academic features.png" alt="can't load image">
                <h3>ACADEMIC FEATURES</h3>
                <div class="double__take">
                  <ul>
                    <li>Intuitive Admission Form</li>
                    <li>Bulk Student Account Creation</li>
                    <li>Student Profile Info Viewer</li>
                    <li>Student Academic Report</li>
                    <li>Student ID Card Generator</li>
                    <li>Student Yearly Promotion</li>
                    <li>Session Wise Data Manager</li>
                    <li>Class and Section Manager</li>
                    <li>Academic Syllabus Manager</li>
                    <li>Class Routine Scheduler</li>
                </ul>
                <ul>
                    <li>Student Daily Attendance</li>
                    <li>Printable Attendance Report</li>
                    <li>Study Document Distibution</li>
                    <li>Exam Mark Sent by SMS</li>
                    <li>Question Printing for Teachers</li>
                    <li>Student Grade/Mark Manager</li>
                    <li>Online Exam Manager</li>
                    <li>Online Report Manager</li>
                    <li>Class Wise Exam Mark Report</li>
                </ul>
                </div>
            </div>
        </section>        

        <section id="quote">
          <button onclick="ouiMonsieur()">Get a Quote</button>
        </section>
    </main>

      <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
