<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/blog2.css" />
    <link rel="stylesheet" href="../css/blog.css">
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="blog__hero">
        <h2>Thoughts and words</h2>
        <img src="../img/Images/blog hero.png" alt="can't load image" />
      </section>

      <section id="blog__info">
        <div class="info-left">
          <p>
            <img src="../img/Images/speaker.png" alt="can't load image" /> By
            Bright Robert
          </p>
          <p>
            <img src="../img/Images/Date Icon.png" alt="can't load image" />
            August 20, 2022
          </p>
          <p>
            <img src="../img/Images/business.png" alt="can't load image" />
            Business
          </p>
        </div>
        <div class="info-right">
          <img src="../img/Images/Facebook.png" alt="can't load image" />
          <img src="../img/Images/Twitter.png" alt="can't load image" />
          <img src="../img/Images/Whatsapp.png" alt="can't load image" />
        </div>
      </section>

      <section id="main__blog-text">
        <p>
          Coming from a science background, not many people would have expected
          Blessing Abeng to become a force in the marketing and communications
          industry. Yet, she has been a part of building successful companies
          like Disha and Ingressive for Good (I4G) from the ground up.
          <br />
          <br />
          Coming from a science background, not many people would have expected
          Blessing Abeng to become a force in the marketing and communications
          industry. Yet, she has been a part of building successful companies
          like Disha and Ingressive for Good (I4G) from the ground up.
        </p>
        <br />
        <h3>How did Ingressive for Good start?</h3>
        <br />
        <p>
          Ingressive for Good launched July 1, 2020, in the peak of the COVID
          lockdown. Before this, Ingressive Capital, a venture firm led by Maya
          Horgan, had a small-scale CSR project that involved connecting student
          communities with global tech companies like Github and Figma.
          <br />
          <br />
          We also randomly paid for students’ school fees and bought them
          laptops. After a while, we paused our approach and interviewed some of
          our beneficiaries and tech stakeholders. This interview revealed that
          in addition to getting training and tools, people wanted jobs too.
          <br />
          <br />
          On Ingressive Capital’s side, they realised that finding the right
          talent is one of the biggest challenges startups face. This is why we
          thought of creating Ingressive for Good, a nonprofit dedicated to
          helping young Africans increase their earning power by developing tech
          skills and landing jobs.
        </p>
        <br />
        <h3>
          Since Ingressive for Good was an off-shoot of Ingressive Capital, you
          must have had enough resources to kickstart operations, correct?
        </h3>
        <br />
        <p>
          Years ago, I met Maya Horgan, the founder of Ingressive Capital, while
          I and my partner were running Startup Grind Lagos. We invited her to
          speak at our monthly event, and we connected from there. She loved my
          work, followed me on social media and we got acquainted. One time, she
          tried getting me to run communications at Ingressive Capital, but I
          declined because I had other commitments.
          <br />
          <br />
          But when she told me about Ingressive for Good in 2020, I was excited
          to join her and Sean Burrowes as a founding member. I’m great at being
          creative and analytical, so this came in handy when Ingressive for
          Good began operations. I took ownership of my communications role and
          got involved in important conversations like I was a co-founder.
          <br />
          <br />
          One time, we were at a donor meeting, and I answered most of the
          questions the donors threw at us. Right after that call, Maya and Sean
          invited me to be a co-founder. According to them, I was already
          handling the nonprofit like it was mine. So why not?
        </p>
        <br />
        <h3>
          Given how Disha and I4G weren’t exactly profitable when you first
          joined them, did stopping your agency affect your finances?
        </h3>
        <br />
        <p>
          Not at all. I had saved and invested enough money to sustain me for
          years while running my agency, and I had digital content raking in
          passive income. I also occasionally freelanced as a branding
          consultant. Overall, I had sufficient funds to live comfortably.
        </p>
      </section>

      <section id="grid__area">
         <div class="grid__area">
        <div class="cards">
          <div class="card">
            <img src="../img/Images/pitch image.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Pitch termsheet backing validation focus release.</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/seed.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Seed round direct mailing non-disclosure agreement graphical user interface rockstar.</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/beta.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Beta prototype sales iPad gen-z marketing network effects value proposition</a
              >
              </p>
            </div>
          </div>
          </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
