<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/blog.css" />
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <div class="main__hero">
        <img src="../img/Images/blog hero.png" alt="can't load image" />
        <div class="main__hero-right">
          <div class="category">
            <p>Category</p>
            <div class="category__date">November 22, 2021</div>
          </div>
          <p>
            <a href="../Components/blog2.html"
              >Pitch termsheet backing validation focus release</a
            >
          </p>
          <div class="publisher">
            <p>
              <img src="../img/Images/writer.png" alt="can't load image" /><a
                href=""
                >Chandler Bing</a
              >
            </p>
          </div>
        </div>
      </div>

      <hr />

      <div class="grid__area">
        <div class="cards">
          <div class="card">
            <img src="../img/Images/pitch image.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Pitch termsheet backing validation focus release.</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/seed.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Seed round direct mailing non-disclosure agreement graphical user interface rockstar.</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/beta.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Beta prototype sales iPad gen-z marketing network effects value proposition</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/pitch 2.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Pitch termsheet backing validation focus release.</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/seed 2.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Seed round direct mailing non-disclosure agreement graphical user interface rockstar.</a
              >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../img/Images/beat 2.png" alt="can't load image" />
            <div class="card__details">
              <div class="category">
                <p>Category</p>
                <div class="category__date">November 22, 2021</div>
              </div>
              <p>
                <a href="../Components/404.html"
                >Beta prototype sales iPad gen-z marketing network effects value proposition</a
              >
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
