<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/career.css" />
    <link rel="stylesheet" href="../css/softdev.css" />
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="career__hero">
        <div class="career__hero-main">
          <img src="../img/Images/career hero.png" alt="can't load image" />
          <div class="hero__text">
            <h3>What's your dream Career?</h3>
            <button><a href="#vacancies">Explore Roles</a></button>
          </div>
        </div>
      </section>

      <section id="benefits">
        <div class="benefits__header">
          <h3>Benefits & Perks</h3>
          <h2>Live your best life</h2>
        </div>
        <div class="benefits__details">
          <div class="grid">
            <div class="grid-item">
              <h3>Career Development Opportunities</h3>
              <p>
                Innovative projects that result in cutting-edge products. Direct interaction with team members who uphold noble goals and principles. 
              </p>
            </div>
            <div class="grid-item">
              <h3>Innovation</h3>
              <p>
              We approach everything we do with a beginner's mind, creativity, and constant learning to disrupt and transform it. We make environments where taking risks is safe because we don't mind failing quickly. 
              </p>
            </div>
            <div class="grid-item">
              <h3>Never Stop Learning</h3>
              <p>
               Our core culture is one of constant and never-ending improvement. We provide you with everything you need to grow at a 3x rate. Learning stimulates growth. 
              </p>
            </div>
            <div class="grid-item">
              <h3>Enjoyable Working Atmosphere</h3>
              <p>
                A nurturing and encouraging atmosphere. Individualized care for
                each specialist. No bureaucracy and a flat organizational
                structure.
              </p>
            </div>
            <div class="grid-item">
              <h3>Competitive Salary</h3>
              <p>
                We regularly review and assess our pay structure to make sure it
                complies with the norms set by the regional business community.
              </p>
            </div>
            <div class="grid-item">
              <h3>Remote Opportunities</h3>
              <p>
                Work from anywhere in the world, including your home or office!
                You have the choice of taking a work vacation. Choose your next
                workplace by spinning the globe!
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="vacancies">
        <h3>Latest Vacancies</h3>
        <div class="vacancy__details">
          <div class="vacancy__details-header">
            <p>JOB TITLE</p>
            <p>LOCATION</p>
            <p>DEPARTMENT</p>
            <p style="color: transparent;">I am white</p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
           <div class="vacancy__details-main">
            <p>Programmer</p>
            <p>Remote</p>
            <p>Software Development</p>
            <p><a href="../Components/404.html">Find Out More <img src="../img/Images/feather_arrow-right.svg" alt=""></a></p>
          </div>
        </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
