<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/consultancy.css" />
    <title>Our Services</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="consult__header">
        <div class="consult__header-img">
          <img
            src="../img/Images/consultancy hero.png"
            alt="can't load image"
          />
        </div>
        <div class="consult__header-text">
          <h2>Consultancy</h2>
          <p>
            From pre-sales help to "go-live" events, INTELLITECH offers
            implementation solutions for our clients. These solutions are built
            on tried-and-true implementation processes that have been refined
            over time to suit new technological advancements and changing
            market-driven business needs.
            <br />
            <br />
            Our multidisciplinary implementation team is made up of devoted
            experts who have worked as project managers, business analysts,
            developers, technicians, and trainers in their respective
            industries. We provide the following implementation support
            services, among others.
          </p>
        </div>
      </section>

      <section id="our__employees">
        <p>
          Our employees are chosen for their quality, shared values, and
          dedication to providing excellent customer service. Our first
          objective remains providing excellent customer service.
          <br />
          <br />
          We have assisted numerous businesses in achieving their objectives
          while staying on budget.
        </p>
        <div class="our__employees-img">
          <img src="../img/Images/employee.png" alt="can't load image" />
        </div>
      </section>

      <section id="our__specialist">
        <p>
          Our specialists share a vision and are chosen for their excellence,
          like-mindedness, and dedication to customer service. Our core
          objective remains providing excellent client service.
        </p>
      </section>

      <section id="IT__specs">
        <div class="IT__specs-item">
          <h3>IT Application Specification</h3>
          <p>
            When you can't find what you're searching for, chat to us before
            resorting to a bespoke solution to learn how to reduce risks and get
            the most out of a new project.
          </p>
          <ul>
            <li>Requirement Gathering</li>
            <li>Application Design</li>
            <li>Website Design</li>
            <li>Content Management Systems</li>
          </ul>
        </div>
        <div class="IT__specs-item">
          <h3>IT Management and Support</h3>
          <p>
            What are your options: handle it yourself or hire someone to do it
            for you? Assuring that the appropriate approach is in place to meet
            your organization's goals.
          </p>
          <ul>
            <li>Management and Operation of IT systems</li>
            <li>IT Strategy - Development and review</li>
            <li>Infrastructure Strategy - Development and review</li>
            <li>Business Continuity Planning.</li>
          </ul>
        </div>
        <div class="IT__specs-item">
          <h3>IT Procurement</h3>
          <p>
            Choosing the correct provider is a minefield. Have you asked the
            correct questions, or are you comparing apples to oranges? We can
            participate as much or as little as necessary.
          </p>
          <ul>
            <li>Requirement Gathering</li>
            <li>Product selection</li>
            <li>Procurement Management</li>
            <li>Client-side representation</li>
          </ul>
        </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
