<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/hotel.css" />
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

     <main>
        <section id="sales__hero">
            <img src="../img/Images/Salesrep hero.png" alt="can't load image">
            <div class="sales__hero-text">
                <h3>SalesREP</h3>
                <p>SalesREP is a highly adaptable sales management system, to meet your needs for sales in a variety of settings, including pharmacies, grocery stores, and supermarkets. </p>
            </div>
        </section>

        <section id="list__part">
            <div class="list">
                <img src="../img/Images/administration.png" alt="can't load image">
                <h3>ADMINISTRATION/SETUP</h3>
                <ul>
                    <li>Company Master</li>
                    <li>Branch Details</li>
                    <li>User Account Creation</li>
                    <li>Staff Entry Categories</li>
                    <li>Registration</li>
                    <li>POS Work Period</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/vendors.png" alt="can't load image">
                <h3>VENDORS ACCOUNT</h3>
                <ul>
                    <li>User creation/Logins</li>
                    <li>User Privilege Assignment</li>
                    <li>Customer Account</li>
                    <li>Employees</li>
                    <li>Clear Transaction Data</li>
                    <li>Database Backup</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/purchase.png" alt="can't load image">
                <h3>PURCHASE /ORDER</h3>
                <ul>
                    <li>Purchase Stock Adjust</li>
                    <li>Return Purchases</li>
                    <li>Purchase Orders</li>
                    <li>Payment Details</li>
                    <li>Expense Type</li>
                    <li>Trail Balance</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/alarm.png" alt="can't load image">
                <h3>ALARMS /EXPIRY ALERT</h3>
                <ul>
                    <li>near Expiry Items</li>
                    <li>Expired Items</li>
                    <li>Low Stock Alert</li>
                    <li>Zero Stock Items</li>
                    <li>Not Sold Items</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/payment.png" alt="can't load image">
                <h3>PAYMENT /RECIEVING/ EXPENSE REPORTS</h3>
                <ul>
                    <li>Vendor Ledger Report</li>
                    <li>Customer Ledger Report</li>
                    <li>Cashbook Summary/detailed report</li>
                    <li>Expense Voucher Report</li>
                    <li>Head wise expense voucher report</li>
                    <li>Employee salary report</li>
                    <li>Profit and Loss report</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/Sales.png" alt="can't load image">
                <h3>SALES/ PAYMENTS</h3>
                <ul>
                    <li>Vendor debit/credit</li>
                    <li>Customer debit/credit</li>
                    <li>Cash Entry</li>
                    <li>Cash in & Cash Out</li>
                </ul>
            </div>
        </section>        
    </main>

      <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
