<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/hotel.css" />
    <title>Intellitech</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

     <main>
        <section id="sales__hero">
            <img src="../img/Images/hotel hero.png" alt="can't load image">
            <div class="sales__hero-text">
                <h3>HotelREP</h3>
                <p>Our cutting-edge hotel management system, HotelREP, integrates ERP and is designed to handle the demands of managing a contemporary hotel, restaurant, and bar. It is easy to use and manages all aspects of hotel operations successfully. </p>
            </div>
        </section>

        <section id="list__part">
            <div class="list">
                <img src="../img/Images/description.png" alt="can't load image">
                <h3>FEATURES DESCRIPTION</h3>
                <ul>
                    <li>Point of Sale (PoS)</li>
                    <li>Room Reservation</li>
                    <li>Hall Reservation</li>
                    <li>Restaurant Billing</li>
                    <li>Room Services</li>
                    <li>Payroll System Logs, Multiple Hotel</li>
                    <li>Inventory Management Accounting</li>
                    <li>GYM Membership</li>
                    <li>Guest Check in & Check Out</li>
                    <li>User Friendly Screens</li>
                    <li>Garden Reservations</li>
                    <li>KOT System</li>
                    <li>Laundry Billing</li>
                    <li>Plan Support and Multi-rates for Room</li>
                    <li>SMS and Email Module and User Support</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/master entries.png" alt="can't load image">
                <h3>MASTER ENTRIES</h3>
                <ul>
                    <li>Hotel Master</li>
                    <li>Hotel Plan Master</li>
                    <li>Currency Master</li>
                    <li>ID Type</li>
                    <li>Guest Entry</li>
                    <li>Room Type</li>
                    <li>Room Master</li>
                    <li>Extra Bad</li>
                    <li>Extra Person</li>
                    <li>Banquet Hall Master</li>
                    <li>Garden Master</li>
                    <li>Food Category</li>
                    <li>Liquor Category</li>
                    <li>Liquor Master</li>
                    <li>Expense Master</li>
                    <li>Expense Type Tax Master</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/utilities.png" alt="can't load image">
                <h3>UTILITIES</h3>
                <ul>
                    <li>User Rights Management</li>
                    <li>Change Password</li>
                    <li>Email Settings</li>
                    <li>Users Registrations</li>
                    <li>Logs</li>
                    <li>user Contacts</li>
                    <li>SQL Server Setting</li>
                    <li>Database Backup/Restore</li>
                </ul>
            </div>
            <div class="list">
                <img src="../img/Images/Accounting.png" alt="can't load image">
                <h3>ACCOUNTINGS</h3>
                <ul>
                    <li>Room Services</li>
                    <li>Bank Master</li>
                    <li>Trial Balance</li>
                    <li>Check In/ Check Out</li>
                    <li>Banquet Hall Reservations</li>
                    <li>Attendance</li>
                    <li>Stock Entry</li>
                    <li>Bank Account Registration</li>
                    <li>Payroll Advance</li>
                    <li>Purchase Inventory</li>
                    <li>General Daybook</li>
                    <li>Supplier ledger</li>
                    <li>Transactions</li>
                    <li>Guest Ledger</li>
                    <li>Vouchers</li>
                    <li>General Ledger</li>
                </ul>
            </div>
        </section>        

        <section id="quote">
          <button>Get a Quote</button>
        </section>
    </main>

      <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
