<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/support.css" />
    <title>Our Services</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="soft__dev-hero">
        <div class="inshallah">
          <img src="../img/Images/support hero.png" alt="can't load image" />
          <div class="overlay"></div>
          <div class="text-div">
            <h2>IT Support</h2>
          </div>
        </div>
      </section>

      <section id="It__desc">
        <div class="grid">
          <div class="grid-item">
            <img src="../img/Images/quick repair.png" alt="can't load image" />
            <h3>Quick Repair</h3>
            <p>
              Our organization is trustworthy, and our work is reliable. We
              offer worry-free service that you can always rely on.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="../img/Images/Honest Service.png"
              alt="can't load image"
            />
            <h3>Honest Services</h3>
            <p>
              We are so confident in our service that if we are unable to
              resolve the issue, you will not be charged. All repairs are backed
              by a 30-day warranty.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/on time.png" alt="can't load image" />
            <h3>On time delivery</h3>
            <p>
              Select the delivery method that best meets your needs. We offer a
              quick and easy pick-up and drop-off service.
            </p>
          </div>
        </div>
      </section>

      <section id="expertise">
        <h2>Quick Service Expertise</h2>
        <p>The quickest repair service at the greatest price!</p>

        <div class="grid">
          <div class="grid-item bottom">
            <img src="../img/Images/server.png" alt="can't load image" />
            <h3>Server Service</h3>
            <p>
              Our firm provides the most effective and environmentally friendly
              server repair service with a 30-day warranty.
            </p>
          </div>
          <div class="grid-item bottom">
            <img src="../img/Images/pc.png" alt="can't load image" />
            <h3>PC Services</h3>
            <p>
              We are a well-known computer service that repairs desktop and
              laptop computers of all major brands.
            </p>
          </div>
          <div class="grid-item bottom">
            <img src="../img/Images/bug.png" alt="can't load image" />
            <h3>Virus Removal</h3>
            <p>
              We are professionals in removing viruses, spyware, and other
              malware from your infected device.
            </p>
          </div>
          <div class="grid-item bottom">
            <img src="../img/Images/data.png" alt="can't load image" />
            <h3>Data Recovery</h3>
            <p>
              We have extensive experience recovering data from a variety of
              scenarios, including viruses, inadvertent loss, and hardware
              failure.
            </p>
          </div>
          <div class="grid-item bottom">
            <img
              src="../img/Images/network services.png"
              alt="can't load image"
            />
            <h3>Network Services</h3>
            <p>
              Is the network down?<br> Is there no Internet? <br>
              We provide dependable
              and prompt service, and we solve your networking issues at your
              place.
            </p>
          </div>
          <div class="grid-item bottom">
            <img src="../img/Images/installation.png" alt="can't load image" />
            <h3>Software Installation</h3>
            <p>
              Operating System Installations / Upgrade Services for your device, with installation at your door.
            </p>
          </div>
        </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
