<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/network.css" />
    <title>Our Services</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="soft__dev-hero">
        <div class="inshallah">
          <img src="../img/Images/network hero.png" alt="can't load image" />
          <div class="overlay"></div>
          <div class="text-div">
            <h2>Network & Security Design</h2>
          </div>
        </div>
      </section>

      <section id="network__prods">
        <div class="grid">
          <div class="grid-item">
            <img src="../img/Images/lan.png" alt="can't load image" />
            <h3>Networking (LAN, WAN & Wifi)</h3>
            <p>
              Our portfolio includes elements which are necessary to build an
              efficient and reliable wired and wireless networks.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/cctv.png" alt="can't load image" />
            <h3>CCTV Installation</h3>
            <p>
              We offer expert services in planning, design, installation, and
              maintenance of structured surveillance system.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/biometric.png" alt="can't load image" />
            <h3>Biometric Installation ( Time Attendance & Access Control)</h3>
            <p>
              Choose the delivery method that matches your requirements. We
              provides fast and quick pick and drop facility
            </p>
          </div>
        </div>
      </section>

      <section id="network__gray">
        <div class="gray-left">
          <h3>Data Security Solutions offerings</h3>
          <p>
            <img src="../img/Images/tick.png" alt="can't load image">
            2 Factor Authentication
          </p>
          <p>
            <img src="../img/Images/tick.png" alt="can't load image">
            Security Operation Centre (SoC)
          </p>
          <p>
            <img src="../img/Images/tick.png" alt="can't load image">
            Application Security
          </p>
          <p>
            <img src="../img/Images/tick.png" alt="can't load image">
            Web/Email/DLP Solution
          </p>
          <p>
            <img src="../img/Images/tick.png" alt="can't load image">
            Distributed Denial of Service (DDoS)
          </p>
          <p>
            <img src="../img/Images/tick.png" alt="can't load image">
            Advance Persistent Threat Solutions (APTs)
          </p>
        </div>

        <p>
          Organizations want real-time access to data in today's global business
          environment, but with rising internal dangers and targeted external
          attacks, there is a fine line between providing access to information
          and securing it. For certain major commercial enterprises, data
          security is not just a choice; it is the law. Losing sensitive data
          due to natural disasters or physical theft can have serious
          ramifications for a corporation, perhaps destroying the entire firm.
          <br />
          <br />
          Our extensive knowledge spans a wide range of security disciplines,
          including web security, application security, network security,
          identity access management, information security audits and
          assessments, security analytics, cloud-based security solutions,
          enterprise mobility management solutions, and security and event
          management (SIEM). We give our customers with unrivaled access to
          end-to-end data security solutions through our global alliances.
        </p>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
