<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/products.css">
    <title>Our Products</title>
</head>
<body>
    <div id="nav-placeholder"></div>

    <main>
        <section id="products__hero">
          <img src="../img/Images/products hero.png" alt="can't load image">
          <div class="hero-overlay"></div>
          <div class="hero-text">
            <h3>Our Products</h3>
            <p>Intellitech Business Support System</p>
          </div>
        </section>

        <section id="products">
          <div class="product">
            <img src="../img/Images/intellisalespos.png" alt="can't load image">
            <div class="product__details">
              <h3>SalesREP</h3>
              <p>SalesREP is a highly adaptable Sales Management System, to meet your needs for sales in a variety of settings, including pharmacies, grocery stores, and supermarkets.</p>
              <button><a href="../Components/sales.html">Read more</a></button>
            </div>
          </div>
          <hr>
          <div class="product">
            <img src="../img/Images/BiRO.png" alt="can't load image">
            <div class="product__details">
              <h3>BiRo</h3>
              <p>BiRo is an ERP School Management System specifically to reduce stress and improve the effectiveness of the administrative process in schools. It handles information about both students and teachers, records of student evaluations and exams, and class and lecture schedules.</p>
              <button><a href="../Components/biro.html">Read more</a></button>
            </div>
          </div>
          <hr>
          <div class="product">
            <img src="../img/Images/storeRep.png" alt="can't load image">
            <div class="product__details">
              <h3>StoreREP</h3>
              <p>StoreREP is an ERP Inventory Management System. The system is highly functionally robust very user-friendly and effective developed to manage your products and stocks for industry and bulk product dispatch services</p>
               <button><a href="../Components/store.html">Read more</a></button>
            </div>
          </div>
          <hr>
          <div class="product">
            <img src="../img/Images/hotelREP.png" alt="can't load image">
            <div class="product__details">
              <h3>HotelREP</h3>
              <p>Our cutting-edge hotel management system, HotelREP, integrates ERP and is designed to handle the demands of managing a contemporary hotel, restaurant, and bar. It is easy to use and manages all aspects of hotel operations successfully.</p>
               <button><a href="../Components/hotel.html">Read more</a></button>
            </div>
          </div>
        </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
</body>
</html>