<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Our Services</title>
    <link rel="stylesheet" href="../css/services.css" />
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="main__header">
        <h2>Services</h2>
        <p>
          Our organization is made up of skilled individuals from many areas,
          which helps to establish a distinct viewpoint in every project we work
          on.
        </p>
      </section>

      <section>
        <div class="our-service blue">
          <div class="services__desc">
            <img src="../img/Images/softwaredev.png" alt="can't load image" />
            <div class="desc__text">
              <h3>Software Development</h3>
              <p>
                Software development services allow you to outsource software
                engineering and support and obtain maintainable, secure, and
                effective software at the lowest possible cost. INTELLITECH has
                completed projects and has extensive knowledge in many
                programming technologies and software kinds.
              </p>
            </div>
          </div>
          <button><a href="../Components/softdev.html">Read More</a></button>
        </div>
        <div class="our-service not-blue">
          <div class="services__desc">
            <img src="../img/Images/support.png" alt="can't load image" />
            <div class="desc__text">
              <h3>IT Support</h3>
              <p>
               IT support consists of processes designed to keep IT workflows safe and decrease IT expenditures. INTELLITECH IT support services are supported by 10 years of expertise in help desk and application support and encompass IT help desk, software support, and on-the-go optimization of your IT processes to ensure superior user experience and on-the-go improvement of your IT operation
              </p>
            </div>
          </div>
          <button><a href="../Components/itsupport.html">Read More</a></button>
        </div>
        <div class="our-service blue">
          <div class="services__desc">
            <img src="../img/Images/security.png" alt="can't load image" />
            <div class="desc__text">
              <h3>Network  & Security Design</h3>
              <p>
               We use numerous layers of security to secure your corporate network and the critical data stored on it. INTELLITECH's security experts are well-versed in a variety of methods for safeguarding your sensitive information and lowering the likelihood of successful attack attempts on your network. 
              </p>
            </div>
          </div>
          <button><a href="../Components/network.html">Read More</a></button>
        </div>
        <div class="our-service not-blue">
          <div class="services__desc">
            <img src="../img/Images/consult.png" alt="can't load image" />
            <div class="desc__text">
              <h3>Consultancy</h3>
              <p>
                Each IT strategy we develop is distinct. However, understanding
                industry similarities allows us to factor in potential
                legislation, commercial obstacles, and target audience from the
                outset. The less time we require for preliminary research, the
                sooner we can provide true value to you.
              </p>
            </div>
          </div>
          <button><a href="../Components/consultancy.html">Read More</a></button>
        </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>

    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
