<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/softdev.css" />
    <title>Our Services</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <main>
      <section id="soft__dev-hero">
        <div class="inshallah">
          <img src="../img/Images/soft dev hero.png" alt="can't load image" />
          <div class="overlay"></div>
          <div class="text-div">
            <h2>Software Development</h2>
          </div>
        </div>
      </section>

      <section id="dev__details">
        <div class="grid">
          <div class="grid-item">
            <img src="../img/Images/web dev.png" alt="can't load image" />
            <h3>WEB DEVELOPMENT</h3>
            <p>
              When creating a website to highlight all your company offers its
              consumers and clients, the possibilities are unlimited.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/mobile dev.png" alt="can't load image" />
            <h3>MOBILE DEVELOPMENT</h3>
            <p>
              Creating a mobile app or mobile web page for your product,
              service, or concept will require careful thought on an individual
              basis.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="../img/Images/desktop development.png"
              alt="can't load image"
            />
            <h3>DESKTOP DEVELOPMENT</h3>
            <p>
              It will be important to carefully analyze each individual
              situation before developing a desktop software for your good,
              service, or concept.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="../img/Images/quality assurance.png"
              alt="can't load image"
            />
            <h3>QUALITY ASSURANCE</h3>
            <p>
              Before making your software or app available to the public, a lot
              must be done to ensure its proper operation.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/ui ux.png" alt="can't load image" />
            <h3>UI/UX</h3>
            <p>
              We specialize in assisting businesses with creating new visions or
              starting a makeover of an existing vision.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/customised.png" alt="can't load image" />
            <h3>CUSTOMIZED SOLUTIONS</h3>
            <p>
              We develop software with long-term commercial value, adapted to
              your specific business operations and adaptable to future
              requirements.
            </p>
          </div>
        </div>
      </section>

      <section id="grey">
        <div class="grey__how">
          <h3>HOW WE DELIVER SOFTWARE AND PRODUCTS</h3>
          <p>
            Prior to beginning development, we first plan with our client. After
            that, we brainstorm and share ideas with them. Of course, as a top
            software development firm, we don't create a product and then
            abandon our clients' businesses. We want to be linked with
            outstanding goods.
            <br />
            <br />
            We take delivery times seriously because they are so important. We
            respect both our own time and that of our clients. For these
            reasons, we make sure to create a timeline following all of our
            planning.
          </p>
        </div>
        <div class="grey__management">
          <h3>PROJECT MANAGEMENT</h3>
          <p>
            It will need a top-notch team of professionals to plan, strategize,
            control, execute, start, and finish the duties at hand if you want
            your project to proceed without hiccups and to its successful
            conclusion. Your vision will be effectively captured by us, and it
            will be executed perfectly. 
            <br>
            <br>
            We will carefully evaluate the design,
            development, schedule, scope, and budget when managing your project
            to make sure your objectives are ultimately achieved. Most
            importantly, we'll keep you informed every step of the way so you
            always know how your project is progressing.
          </p>
        </div>
      </section>

      <section id="why">
        <h3>Why You Need Our Service</h3>
        <p>
            Some of our clients say we are the best at what we do but all we did is give it our best, It's simple Your Business + Our Brains = Excellent Result. Our world class engineers got you covered.
        </p>
      </section>

      <section id="dev__details">
        <div class="grid">
          <div class="grid-item">
            <img src="../img/Images/user experience.png" alt="can't load image" />
            <h3>User Experience and Friendliness</h3>
            <p>
              software that can entice people and make it simple for them to navigate.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/fast.png" alt="can't load image" />
            <h3>Fast and Responsive</h3>
            <p>
              Smartphones iOS, Android, and tablets. Allscreens can be used with our web solutions.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="../img/Images/worldwide.png"
              alt="can't load image"
            />
            <h3>World-Class Technology Stack</h3>
            <p>
              Python, PHP, JavaScript, C#, Go, and Java, MongoDB,  MySQL, and React Native. Our team is very skilled. 
            </p>
          </div>
          <div class="grid-item">
            <img
              src="../img/Images/Training.png"
              alt="can't load image"
            />
            <h3>Training & Tutorials</h3>
            <p>
              Our team gradually gives your staff and IT specialists management of your own solutions, so you only need us in exceptional circumstances.
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/mobile.png" alt="can't load image" />
            <h3>Mobile Applications</h3>
            <p>
              Mobile software and applications from Apple, including iOS and Android, are designed to scale and work well on devices with lower specifications. 
            </p>
          </div>
          <div class="grid-item">
            <img src="../img/Images/safety.png" alt="can't load image" />
            <h3>Safety and Security First</h3>
            <p>
              Security for servers, code security, hosting, and Git/version control systems. We cannot afford to leave behind any unneeded tracks. 
            </p>
          </div>
        </div>
      </section>
    </main>

    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../assets/nav.html");
      });

      $(function () {
        $("#footer-placeholder").load("../assets/footer.html");
      });
    </script>
  </body>
</html>
